/* Latest */
.latest{
    /* background-color: var(--clr-pale); */
    color: var(--clr-coffee);
    text-align: center;
    border-top: 1px solid var(--clr-yellow);
    font-size: var(--size-xl);
}

.latest__title{
    font-size: inherit;
    padding: var(--size-2xl);
}

.latest__box-container{
    display: grid;
    grid-template-areas: 
    'post1 post2 post3'
    'post4 post5 post6';
    gap: var(--size-3xl);
    grid-template-columns: repeat(3, 1fr);
}

.latest__box-title{
    justify-content: center;
    font-size: var(--size-base);
    height: 5.5rem;
    color: var(--clr-coffee);
    border-bottom: 2px solid var(--clr-yellow);
}

.latest__box-img{
    width: 100%;
}

a{
    transition: opacity 0.3s ease;
}

a:hover{
    opacity: 0.8;
}

.latest__box--1{
    grid-area: post1;
    border: 2px solid var(--clr-yellow);
    border-radius: 20px;
    overflow: hidden;
}

.latest__box--2{
    grid-area: post2;
    border: 2px solid var(--clr-yellow);
    border-radius: 20px;
    overflow: hidden;
}

.latest__box--3{
    grid-area: post3;
    border: 2px solid var(--clr-yellow);
    border-radius: 20px;
    overflow: hidden;
}

.latest__box--4{
    grid-area: post4;
    border: 2px solid var(--clr-yellow);
    border-radius: 20px;
    overflow: hidden;
}

.latest__box--5{
    grid-area: post5;
    border: 2px solid var(--clr-yellow);
    border-radius: 20px;
    overflow: hidden;
}

.latest__box--6{
    grid-area: post6;
    border: 2px solid var(--clr-yellow);
    border-radius: 20px;
    overflow: hidden;
}

.latest__box-title{
    display: flex;
    background-color: white;
    padding: var(--size-xxs);
}

.latest__box-description{
    height: 10rem;
}


/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}
  
/* lg */
@media (max-width: 1024px) {
    .latest__title{
        padding: var(--size-xl);
    }

    .latest__box-container{
        gap: var(--size-2xl);
    }
}
  
/* md */
@media (max-width: 768px) {
    .latest{
        font-size: var(--size-lg);
    }

    .latest__title{
        padding: var(--size-xl);
    }

    .latest__box-container{
        grid-template-areas: 
        'post1 post2'
        'post3 post4'
        'post5 post6';

        gap: var(--size-xl);
        grid-template-columns: repeat(2, 1fr);
    }
}
  
/* sm */
@media (max-width: 640px) {
    .latest__title{
        height: 0;
    }

    .latest__box-container{
        padding-top: var(--size-xl);

        grid-template-areas: 
        'post1' 
        'post2'
        'post3' 
        'post4'
        'post5' 
        'post6';

        grid-template-columns: none;
    }

    .latest__box-title{
        height: auto;
    }
    
}
  
/* xs */
@media (max-width: 475px) {}
