/* POPULAR POST */
.popular{
    background-color: var(--clr-pale);
    color: var(--clr-coffee);
    text-align: center;
    font-size: var(--size-xl);
    padding-bottom: var(--size-lg);
    /* border: 1px solid red; */
}

.popular_title{
    font-size: inherit;
    padding: var(--size-lg);
}

.popular__post-container{
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

.square-link {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 var(--size-xxs) var(--size-xxs) var(--size-xxs);
    height: 18rem;
    min-width: 16rem;
}


/* 2xl */
@media (max-width: 1536px) {
    .square-link{
        height: 16rem;
    }
}

/* xl */
@media (max-width: 1280px) {
    .square-link{
        height: 14rem;
    }
}
  
/* lg */
@media (max-width: 1024px) {
    .popular{
        padding-bottom: var(--size-base);
    }

    .popular_title{
        padding: var(--size-base);
    }

    .square-link{
        height: 12rem;
    }
}
  
/* md */
@media (max-width: 768px) {
    .popular{
        font-size: var(--size-lg);
        padding-bottom: var(--size-sm);
    }

    .popular_title{
        padding: var(--size-sm);
    }
}
  
/* sm */
@media (max-width: 640px) {
    .popular{
        padding-bottom: var(--size-xs);
    }
}
  
/* xs */
@media (max-width: 475px) {}