.highlight{
  display: inline-block;
  background-color: var(--clr-orange);
  font-weight: bold;
}

.highlight-blue{
  font-weight: bold;
  display: inline-block;
  background-color: var(--clr-highlight-blue);
}

.highlight-green{
  display: inline-block;
  background-color: var(--clr-highlight-green);
}

.article-img{
  width: 30rem;
  margin-bottom: var(--size-lg);
}

.table-heading-x{
  background-color: var(--clr-table-orange);
}

.table-heading-y{
  background-color: var(--clr-table-blue);
}

/* options */
.options{
  margin-top: var(--size-base);
  font-size: var(--size-lg);
}

table{
  margin-top: var(--size-xxs);
  border: 2px solid black;
  border-collapse: collapse;
}

th, td{
  border: 2px solid black;
  padding: var(--size-xxs);
  max-width: 40ch;
}

li {
  margin-top: var(--size-sm);
}

/* Comparison */
.Comparison{
  margin-top: var(--size-base);
  font-size: var(--size-lg);
}

.Comparison-title{
  padding: var(--size-xs);
}

.Comparison-table{
  margin-left: var(--size-lg);
}

/* procedures */
.procedures{
  margin-top: var(--size-3xl);
  font-size: var(--size-lg);
}

.procedures__prepare-container{
  margin-top: var(--size-lg);
}

.procedures__consider-container{
  margin-top: var(--size-lg);
}

.procedures__how-container{
  margin-top: var(--size-lg);
}

.how-website-container{
  margin-top: var(--size-xxs);
}

.how-steps-container{
  margin-top: var(--size-lg);
}

.steps-ol-heading{
  margin-bottom: var(--size-xl);;
}

.procedures-different{
  margin-top: var(--size-xs);
}


/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}
  
/* lg */
@media (max-width: 1024px) {
  .options{
    font-size: var(--size-base);
  }

  .Comparison{
    font-size: var(--size-base);
}

  .procedures{
    font-size: var(--size-base);
  }
}
  
/* md */
@media (max-width: 768px) {
  li {
    margin-top: var(--size-xs);
  }
}
  
/* sm */
@media (max-width: 640px) {
  .hero__heading{
    font-size: var(--size-2xl)
  }

  .options{
    font-size: var(--size-sm);
  }

  .Comparison{
    font-size: var(--size-sm);
}

  .procedures{
    font-size: var(--size-sm);
  }
}
  
/* xs */
@media (max-width: 475px) {
  li {
    margin-top: var(--size-xxs);
  }

  .hero__heading{
    font-size: var(--size-xl)
  }

  .th, td{
    padding: 0.3rem;
    max-width: 40ch;
  }

  ul, ol {
    padding-left: var(--size-sm);
  }
  
  .article-container{
    font-size: var(--size-xs);
  }

  .options{
    font-size: var(--size-xs);
  }

  .options__options-TvsH{
    overflow-x: auto;
    max-width: 100%;
  }

  .hero__options-AvsC{
    overflow-x: auto;
    max-width: 100%;
  }

  .Comparison{
    font-size: var(--size-xs);
    overflow-x: auto;
    max-width: 100%;
  }

  .procedures{
    font-size: var(--size-xs);
  }
}
