.related{
  padding-right: var(--size-base);
  margin-left: auto;
}

.related-title{
  background-color: var(--clr-amber);
  padding: var(--size-xs) var(--size-2xl);
  border-radius: 45%;
  text-decoration: underline;
}

.related__post{
  display: flex;
  flex-direction: column;
  margin: var(--size-xs);
  gap: var(--size-xs);
  align-items: center;
}


.related__box{
  border: 2px solid var(--clr-yellow);
  height: 15rem;
  width: 20rem;
}

.related__box-description{
  text-align: center;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title{
  background-color: var(--clr-yellow);
  padding: var(--size-xs) var(--size-2xl);
  border-radius: 40%;
  text-decoration: underline;
  margin-bottom: 0px;
}

.about-icon{
  width: 6rem;
  margin-top: 0px;
}

.about-description{
  text-align: center;
  max-width: 20ch;
}

/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {
  .related{
    padding-right: var(--size-base);
  }

  .related__box{
    height: 10rem;
    width: 15rem;
}
}
  
/* lg */
@media (max-width: 1024px) {
  .related__box{
    width: 13rem;
  }
}
  
/* md */
@media (max-width: 768px) {
  .related__box-container{
    gap: var(--size-sm);
    }

  .related{
    padding-right: var(--size-sm);
    margin: auto
  }

  .related__box{
    display: inline-block;
    width: 100%;
}
}
  
/* sm */
@media (max-width: 640px) {
}
  
/* xs */
@media (max-width: 475px) {
  .related{
    font-size: var(--size-sm);
  }
}