.body {
    overflow-x: hidden;
  }
  
  .hero-container{
    flex: 1;
    margin: 0 var(--size-2xl);
    max-width: 120ch;
  }
  
  .hero-container{
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--size-lg);
  }
  
  .heading{
    font-family: 'Archivo Black', sans-serif;
    color: var(--clr-heading-blue);
    text-decoration: underline;
    padding-top: var(--size-2xl);
    margin-bottom: var(--size-sm);
    font-weight: 900;
  }

  
  /* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}
  
/* lg */
@media (max-width: 1024px) {}
  
/* md */
@media (max-width: 768px) {
  .hero-container{
    font-size: var(--size-base);
  }
}
  
/* sm */
@media (max-width: 640px) {}
  
/* xs */
@media (max-width: 475px) {
  .hero-container{
    font-size: var(--size-sm);
  }
}